.functionButton {
    padding: 0.6em 2.5em 0.6em 3.5em;
    font-size: 0.75em;
    border-radius: 17px;
    font-weight: 500;
    width: max-content;
    position: relative;

}

.addPostButton, .foundPetButton {
    background-color: #8DBFAC;
    color: white;
    border: 1px solid #8DBFAC;
}

.lostPetButton {
    background-color: #FFE18B;
    color: #393939;
    border: 1px solid #FFE18B;

}

.addPostButton:hover, .foundPetButton:hover, .logoutButton:hover {
    color: white;
}

.lostPetButton:hover {
    color: #393939;
}

.buttonIcon {
    font-size: 1.3em;
    position: absolute;
    top: 9px;
    left: 11px;
}

.logoutButton {
    color: white;
    padding: 0.6em 0em 0.6em 2em;

}
.logoutIcon {
    font-size: 1.1em;
    left: 0;
}

/*for small and xs screens*/
/*@media (max-width: 575px) {*/

/*    .formButton {*/
/*        display: block;*/
/*        margin-bottom: 7px;*/
/*    }*/
/*    .subscription, .cancelButton, .submitButton {*/
/*        margin-left: 32.8%;*/
/*    }*/

/*    .cancelButton {*/
/*        padding: 0.7em 28% !important;*/
/*    }*/

/*    .submitButton {*/
/*        padding: 0.7em 27.4% !important;*/
/*    }*/

/*    .signUpTabs {*/
/*        border-bottom: 0;*/
/*    }*/
/*}*/
